<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MBS BENEFICIARIES</title>
    <link rel="stylesheet" href="./css/style.css">

</head>
<body>

    <div class="container">
        <h1>
            <%= message %>
        </h1>
    <h1>MBS BENEFICIARIES</h1>
    <form action="/form/MB" method="POST">
      <label for="SlNo">SlNo:</label>
      <input type="number" id="SlNo" name="SlNo"><br><br>

      <label for="AccountOpeningDate">Account Opening Date:</label>
      <input type="date" id="AccountOpeningDate" name="AccountOpeningDate"><br><br>

      <label for="APARTDistrict">APART District:</label>
      <input type="text" id="APARTDistrict" name="APARTDistrict"><br><br>

      <label for="APARTBlock">APART Block:</label>
      <input type="text" id="APARTBlock" name="APARTBlock"><br><br>

      <label for="Village">Village:</label>
      <input type="text" id="Village" name="Village"><br><br>

      <label for="Name">Name:</label>
      <input type="text" id="Name" name="Name"><br><br>

      <label for="Age">Age:</label>
      <input type="number" id="Age" name="Age"><br><br>

      <label for="AgentCode">Agent Code:</label>
      <input type="text" id="AgentCode" name="AgentCode"><br><br>

      <label for="Gender">Gender:</label>
      <input type="text" id="Gender" name="Gender"><br><br>

      <label for="ExitingBankAccount">Exiting Bank Account:</label>
      <input type="text" id="ExitingBankAccount" name="ExitingBankAccount"><br><br>

      <label for="SavingsAccountNumber">Savings Account Number:</label>
      <input type="number" id="SavingsAccountNumber" name="SavingsAccountNumber"><br><br>

      <label for="BankName">Bank Name:</label>
      <input type="text" id="BankName" name="BankName"><br><br>

    

        <input class="submit-btn" type="submit" value="Submit">
    </form>

      <h2>Or Upload Bulk (CSV)</h2>
      <form action="/form/MB/bulk" method="POST" enctype="multipart/form-data">
          <input type="file" name="MB" id="file">
          <input class="submit-btn" type="submit" name="Submit" id="">
      </form>
      <a href="/form/MB"> <button class="submit-btn">Dowload CSV</button></a>
    </div>
</body>
</html>
