/* style.css */
body {
    background-color: rgb(6, 26, 27);
}
* {
    box-sizing: border-box;
}
.alert {
    text-align: center;
    color: white;
}
.alert h1 {
    font-weight: 100;
    font-size:larger;
}
.container {
    max-width: 800px;
    margin: 60px auto;
}
.container h1 {
    text-align: center;
    color: white;
}
.container h2 {
    text-align: left;
    color: white;
}
#chart {
    max-width: 500px;
    margin: 60px auto;
}
form {
    background-color: white;
    padding: 30px;
}
form .input-group {
    margin-bottom: 15px;
}
form .input-group-files {
    margin-top:  15px;
    margin-bottom: 15px;
}
form label {
    
    display: block;
    margin-bottom: 20px;
    /* float: left; */
    margin-top: 20px;
    margin-right: 5px;
    
}
input[type=date],
input.date {
    /* float:left; */
    /* clear: none; */
    margin: 2px 0 0 2px;
    width: auto;
}
input[type=radio],
input.radio {
    float:left;
    /* clear: none; */
    margin: 2px 0 0 2px;
    width: 21px;
}
form input {
    padding: 12px 20px;
    width: 100%;
    border: 1px solid #ccc;
}

.submit-btn {
    margin-top: 20px;
    width: 100%;
    border: none;
    background: rgb(37, 83, 3);
    font-size: 18px;
    color: white;
    border-radius: 3px;
    padding: 20px;
    text-align: center;
    cursor: pointer
}

