<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {{>navbar}}
   <h1>Form for Agri</h1> 
   <form action="/form/add" method="POST">
   <span>Enter a number</span>
    <input type="string" name="number" value="Enter a number" id="">
    <input type="number" name="age" value="Enter a number" id="">
    <input type="submit" value="Register"name="" id="">
   </form>
   
</body>
</html>